.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {
    display: flex;
    flex-flow: row wrap;
}

.hbox.noWrap {
    flex-wrap: nowrap;
}

.align-content-space-around {
    align-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}


.height-100-pecent {
    height: 100%;
}

.strategy-select-area {
    flex: 0 0 30%;
}

.filters-area {
    flex: 0 0 70%;
}

.options-item {
    flex: 0 0 28%;
}

.box-border {
    border: 1px solid red;
}


.flex-item-20p {
    flex: 0 0 20%;
}

.flex-item-25p {
    flex: 0 0 25%;
}

.flex-item-30p {
    flex: 0 0 30%;
}


.small-padding {
    padding: 5px;
}


.xSmallMargin {
    margin: 3px;
}

.smallMarginBottom {
    margin-bottom: 7px;
}

.smallMarginTop {
    margin-bottom: 7px;
}

.smallMarginTopBottom {
    margin-bottom: 7px;
    margin-top: 7px;
}

.smallMarginBeginEnd {
    margin-left: 7px;
    margin-right: 7px;
}

.mediumMarginBeginEnd {
    margin-left: 12px;
    margin-right: 12px;
}

.mediumMarginEnd {
    margin-right: 12px;
}

.form-control.small-input {
    text-align: center;
    min-width: 25px;
    height: 25px;
    padding: 6px;
}




.flex-container {
    align-items: stretch;
}


.flex-item-inner-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}



/*.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.checkbox.no-margin {
    margin-bottom: 0px;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/