<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-4">
        <h4>Strategy:</h4>
      </div>
      <div class="col-8">
        <h4>Options:</h4>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-4">
        <div class="d-flex justify-content-center">
          <div class="strategyOptionsContainer">
            <div *ngFor="let strategyType of strategyTypes | enumTransform | strategyTypeName">
              <div class="radio">
                <label>
                <input type="radio" name="strategyType" [(ngModel)]="filterValues.strategyType" [value]="strategyType.key">
                {{strategyType.name}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 testRow">
        <div class="flex-column">
          <div class="row">
            <div class="col-6 d-flex justify-content-between align-items-end">
                <div class="btn-group" ngbRadioGroup name="radioBasic" [ngModel]="filterValues.loadAll" (ngModelChange)="getAllButtonChecked($event)">
                  <label ngbButtonLabel class="btn-primary select-all-button-label">
                    <input ngbButton type="radio" [value]="1"> Select All
                  </label>
                </div>
                <span class="mx-3">Or</span>
                <select class="form-control" name="limit" [ngModel]="filterValues.loadNRandom" (ngModelChange)="limitSelected($event)">
                  <option *ngFor="let item of limits" [ngValue]="item.value" [disabled]="item.value==0">{{item.label}}</option>
                </select>
                <span class="mx-3">Or</span>
            </div>
            <div class="col-6 row align-items-center">
              <div class="col-6 row justify-content-start">
                <div class="col-11">
                  <label for="startDate">From:</label>
                  <form class="form-inline">
                    <div class="form-group" style="width: 100%">
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="yyyy-mm-dd"
                          name="dp1"
                          [ngModel]="filterValues.interval.startDate"
                          (ngModelChange)="startDateSelected($event)"
                          ngbDatepicker #d1="ngbDatepicker">
                        <button class="input-group-addon" (click)="d1.toggle()" type="button">
                          <span style="cursor: pointer;">&#9207;</span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-6 row justify-content-end">
                  <div class="col-11">
                    <label for="startDate">To:</label>
                    <form class="form-inline">
                      <div class="form-group" style="width: 100%">
                        <div class="input-group">
                          <input
                          class="form-control"
                          placeholder="yyyy-mm-dd"
                          name="dp2"
                          [ngModel]="filterValues.interval.endDate"
                          (ngModelChange)="endDateSelected($event)"
                          ngbDatepicker #d2="ngbDatepicker">
                          <button class="input-group-addon" (click)="d2.toggle()" type="button">
                            <span style="cursor: pointer;">&#9207;</span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4 pr-2">
              <div class="flex-column my-3">
                <b>Favorite Coefficient:</b>
                <div class="row justify-content-between my-2">
                  <div class="col-4">
                    <div class="d-flex align-items-center">
                      <input [value]="filterValues.favoriteCoefficientMin | formatNullValue: '-'" (input)="filterValues.favoriteCoefficientMin=$event.target.value"
                        type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="d-flex align-items-center">
                      <input [value]="filterValues.favoriteCoefficientMax | formatNullValue: '-'" (input)="filterValues.favoriteCoefficientMax=$event.target.value"
                        type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-column my-4">
                <b>Outsider Coefficient:</b>
                <div class="row justify-content-between my-2">
                  <div class="col-4">
                    <div class="d-flex align-items-center">
                      <input [value]="filterValues.outsiderCoefficientMin | formatNullValue: '-'" (input)="filterValues.outsiderCoefficientMin=$event.target.value"
                        type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="d-flex align-items-center">
                      <input [value]="filterValues.outsiderCoefficientMax | formatNullValue: '-'" (input)="filterValues.outsiderCoefficientMax=$event.target.value"
                        type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 pr-2">
              <div class="flex-column my-3">
                <b>Favorite Score:</b>
                <div class="row justify-content-between my-2">
                  <div class="col-4">
                    <div class="d-flex align-items-center">
                      <input [value]="filterValues.favoriteScoreMin | formatNullValue: '-'" (input)="filterValues.favoriteScoreMin=$event.target.value"
                        type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="d-flex align-items-center">
                      <input [value]="filterValues.favoriteScoreMax | formatNullValue: '-'" (input)="filterValues.favoriteScoreMax=$event.target.value"
                        type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-column my-4">
                <b>Outsider Score:</b>
                <div class="row justify-content-between my-2">
                  <div class="col-4">
                    <div class="d-flex align-items-center">
                      <input [value]="filterValues.outsiderScoreMin | formatNullValue: '-'" (input)="filterValues.outsiderScoreMin=$event.target.value"
                        type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="d-flex align-items-center">
                      <input [value]="filterValues.outsiderScoreMax | formatNullValue: '-'" (input)="filterValues.outsiderScoreMax=$event.target.value"
                        type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 pl-2 d-flex align-items-center">
              <div class="flex-column align-items-center">
                <b>Time:</b>
                <div class="row justify-content-between my-2">
                  <div class="col-4">
                    <div class="d-flex align-items-center">
                      <input [value]="filterValues.timeMin | formatNullValue: '-'" (input)="filterValues.timeMin=$event.target.value" type="text"
                        class="form-control small-input">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="d-flex align-items-center">
                      <input [value]="filterValues.timeMax | formatNullValue: '-'" (input)="filterValues.timeMax=$event.target.value" type="text"
                        class="form-control small-input">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-end">
            <div class="col-4 pr-2">
              <div class="flex-row">
                <div class="checkbox">
                  <label class="radio-inline checkbox-label">
                    <input
                      type="checkbox"
                      [(ngModel)]="filterValues.showHistory">
                    Load History
                  </label>
                </div>
              </div>
            </div>
            <div class="col-4 pr-2">
              <div class="flex-row">
                <div class="checkbox">
                  <label class="radio-inline checkbox-label">
                    <input
                      type="checkbox"
                      [(ngModel)]="filterValues.showDetails">
                    Include Details
                  </label>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex justify-content-end">
                <button type="button" (click)="loadData()" class="btn btn-primary">Load Data</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>