.testRow .col-1,
.testRow .col-2,
.testRow .col-3,
.testRow .col-4,
.testRow .col-5,
.testRow .col-6,
.testRow .col-7,
.testRow .col-8,
.testRow .col-9,
.testRow .col-10,
.testRow .col-11,
.testRow .col-12 {
    padding-right: 0;
    padding-left: 0;
}

.testRow .row {
    margin-left: 0;
    margin-right: 0;
}

.select-all-button-label,
.checkbox-label {
    margin-bottom: 0;
}