<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label for="location">Location:</label>
      <select id="location" class="form-control" ngModel name="location" #period="ngModel" (change)="onLocationChange($event.target.value)">
        <option *ngFor="let competitionFilter of competitionFilters | filterCompetitionFilterOptions: ['championship', championshipFilterValue] | filterCompetitionDuplicates: 'location' | sortCompetitions: 'location'" [ngValue]="competitionFilter.location">{{competitionFilter.location}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="championship">Championship:</label>
      <select id="championship" class="form-control" ngModel name="championship" #period="ngModel" (change)="onChampionshipChange($event.target.value)">
        <option *ngFor="let competitionFilter of competitionFilters | filterCompetitionFilterOptions: ['location', locationFilterValue] | filterCompetitionDuplicates: 'championship' | sortCompetitions: 'championship'" [ngValue]="competitionFilter.championship">{{competitionFilter.championship}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <div appDatePicker (dateSelected)="startDateSelected($event)" class="input-group date">
        <input placeholder="" class="form-control" type="text" name="startDate" required>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="endDate">End Date:</label>
      <div appDatePicker (dateSelected)="endDateSelected($event)" class="input-group date">
        <input placeholder="" class="form-control" type="text" name="endDate" required>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label>Completeness:</label>
      <div class="checkbox">
        <label class="radio-inline">
          <input
            type="checkbox"
            (change)="handleCheckboxSelected()">
          Uncompleted Only
        </label>
      </div>
    </div>
  </div>
</div>
