<div class="panel panel-default">
  <div class="panel-heading">Action Panel</div>
  <div class="panel-body">
    <div class="row panel-flex-container">
      <div class="col-md-6">
        <div class="row flex-container">
          <div class="col-md-4">
            <label for="startDate">Start Date:</label>
            <input appDatePicker 
              placeholder=""
              type="text"
              name="startDate"
              class="form-control"
              [initialValue]="startDateInitial"
              (dateSelected)="startDateSelected($event)"
              required>
          </div>
          <div class="col-md-4">
            <label for="endDate">End Date:</label>
            <input appDatePicker 
              placeholder=""
              type="text"
              name="startDate"
              class="form-control"
              [initialValue]="endDateInitial"
              (dateSelected)="endDateSelected($event)"
              required>
          </div>
          <div class="col-md-4 button-container">
            <div *ngIf="pendingRequest" class="loader"></div>
            <button [disabled]="pendingRequest" type="button" (click)="fetchData()" class="btn btn-primary">Load Data</button>
          </div>
        </div>
      </div>
      <div class="col-md-2 flex-container">
        <button type="button" (click)="importData()" class="btn btn-primary">Import Data</button>
      </div>
    </div>
    <div class="row panel-flex-container">
      <div class="col-md-3">
        <div class="checkbox no-margin">
          <label class="radio-inline">
                <input
                  type="checkbox"
                  [(ngModel)]="uncompletedOnly">
                Load Uncompleted Only
              </label>
        </div>
      </div>
    </div>
  </div>
</div>