<app-filter-panel></app-filter-panel>
<a routerLink="/matches/data-import">Data Import</a>
<ng-container *ngFor="let partialResult of data?.partialResults">
  <div class="">Total: {{partialResult.total}}, Number of Bets: {{partialResult.numberOfBets}}</div>
  <table class="table table-bordered" id="forecasts-table">
    <thead>
      <tr>
        <th>Event</th>
        <th>Sum</th>
        <th>Coefficient</th>
        <th>Minute</th>
      </tr>
    </thead>
    <tbody>
      <tr app-match-list-item
        *ngFor="let forecast of partialResult?.forecasts"
        [forecast]="forecast"
        [ngClass]="{'winning': forecast.winning}">
      </tr>
    </tbody>
  </table>
</ng-container>