<div class="flex-container">
  <form class="form-inline flex-item" (ngSubmit)="handleFormSubmit(f.value)" #f="ngForm">
    <label class="sr-only" for="score1">Score1</label>
    <input id="score1"
          placeholder=""
          class="form-control input-md input-small"
          type="text"
          [(ngModel)]="row.score1"
          name="score1"
          required>
    :
    <label class="sr-only" for="score2">Score2</label>
    <input id="score2"
          placeholder=""
          class="form-control input-md input-small"
          type="text"
          [(ngModel)]="row.score2"
          name="score2"
          required>
    <button type="submit" class="btn btn-primary margin-tb-small" [disabled]="buttonClicked">Submit</button>
  </form>
  <button type="button" (click)="handleGoogleSearch($event)" class="btn btn-primary flex-item">Search in Google</button>
</div>