.input-small {
  width: 35px;
}
.margin-tb-small {
  margin-left: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.flex-item {
  margin-bottom: 8px;
}
