<app-data-import-action-panel></app-data-import-action-panel>
<app-data-import-filter-panel [competitionFilters]="competitionFilters"></app-data-import-filter-panel>

<ul class="list-group">
  <app-data-import-row-container *ngFor="let match of matches | filterMatchLocation: locationFilterValue | filterMatchChampionship: championshipFilterValue | filterMatchDateRangeStart: startDateFilterValue | filterMatchDateRangeEnd: endDateFilterValue | filterMatchCompleteness: isReconstructedOnly" [match]="match"></app-data-import-row-container>
</ul>
